.task-name
    input(
        type='text'
        placeholder="Modify real points"
    )
.task-settings
    a.save-task(
        href=""
        title="{{'COMMON.SAVE' | translate}}"
    )
        tg-svg(svg-icon="icon-save")
    a.cancel-edit(
        href=""
        title="{{'COMMON.CANCEL' | translate}}"
    )
        tg-svg(svg-icon="icon-cancel")
