section.main(style="padding-left: 15px; padding-right: 15px; background-color: #ecf0f5")
    header
        h1
            span.green DASHBOARD
            span  {{ project.name }}
    div.app
        div(id="page-content")
            section(ng-if="project") 
                
                div.row
                    div.col-lg-12
                        div.row
                            div.col-sm-12.col-lg-4 
                                div.panel.panel-success.panel-colorful 
                                    div.pad-all(style="padding-bottom:0px")
                                        p.text-lg.text-semibold % {{ 'CUSTOM_DASHBOARD.COMPLETED_PROJECT' | translate}}
                                    div.pad-all.text-center(style="padding:top;padding-bottom:20px") 
                                        div.pie-title-center(tg-project-percent-directive)
                                            span.pie-value 35%
                                            
                            div.col-sm-12.col-lg-4 
                                div.panel.panel-info.panel-colorful
                                    div.pad-all(style="padding-bottom:0px") 
                                        p.text-lg.text-semibold % {{ 'CUSTOM_DASHBOARD.PROJECT_DEVIATION' | translate }}
                                    div.pad-all.text-center(style="padding:top;padding-bottom:20px")  
                                        div.pie-title-center(tg-project-deviation-directive)
                                            span.pie-value 35%
                                            
                            div.col-sm-12.col-lg-4 
                                div.panel.panel-purple.panel-colorful
                                    div.pad-all(style="padding-bottom:0px") 
                                        p.text-lg.text-semibold % {{ 'CUSTOM_DASHBOARD.SOLVED_ISSUES' | translate }}
                                    div.pad-all.text-center(style="padding:top;padding-bottom:20px")
                                        div.pie-title-center(tg-project-completed-issues-directive)
                                            span.pie-value 35%
                                            
                            //- div.col-sm-6.col-lg-6 
                            //-     div.panel.panel-warning.panel-colorful(style="background-color:#fff;border-color:#fff;color:#2d445c") 
                            //-         div.pad-all(style="padding-bottom:0px;")
                            //-             p.text-lg.text-semibold(style="margin-bottom: 0px;") {{ 'CUSTOM_DASHBOARD.POINTS_BY_ROLE' | translate }}
                            //-         div.pad-all.text-center(style="padding:0px; padding-bottom: 10px;")
                            //-             div.pie-title-center(tg-assigned-points-by-role-graph id="points-role" style="width:150px; height:150px;")
                       
                div.row 
                    div.col-sm-12.col-lg-12
                        div.col-sm-12.col-lg-9
                            div.panel(id="demo-panel-network")
                                div.panel-heading 
                                    h3.panel-title Burndown Chart
                                div.panel-body 
                                    div(tg-burndown-directive id="main-burndown-chart" style="height: 340px;")
                        
                        div.col-sm-12.col-lg-3
                            div.panel.panel-warning.panel-colorful(style="background-color:#fff;border-color:#fff;color:#2d445c") 
                                div.pad-all(style="padding-bottom:0px;")
                                    p.text-lg.text-semibold(style="margin-bottom: 0px;") {{ 'CUSTOM_DASHBOARD.POINTS_BY_ROLE' | translate }}
                                div.pad-all.text-center(style="padding:0px; padding-bottom: 10px;")
                                    div.pie-title-center(tg-assigned-points-by-role-graph id="points-role" style="width:150px; height:150px;")
                                
                            div.panel.panel-info.panel-colorful
                                div.pad-all(style="padding-bottom:0px") 
                                    p.text-lg.text-semibold % {{ 'CUSTOM_DASHBOARD.ESTIMATION_EFFICIENCY' | translate }}
                                div.pad-all.text-center(style="padding:top;padding-bottom:20px")  
                                    div.pie-title-center(tg-efficiency-estimation-directive)
                                        span.pie-value 35%        
                                
                div.row 
                    div.col-lg-12 
                        div.panel(style="display: inline-block") 
                            div.panel-heading
                                h3.panel-title {{ 'CUSTOM_DASHBOARD.PROJECT_STATICS' | translate }}
                            div.panel-body(style="display: inline-block") 
                                div(tg-predictive-burndown-directive id="predictive-burndown-chart" style="height:340px;margin:0 auto;")
                                div.row.padding-top(style="display: inline-block") 
                                    div.col-lg-12
                                        div.media(style="padding-left: 5%")  
                                            div.media-left 
                                                div.media 
                                                    p.text-semibold.text-main  
                                                    
                                            div.media-body.pad-lft 
                                                div.media-body.pad-lft 
                                                    div.pad-btm(tg-sprints-prediction-directive) 
                                                        p.text-semibold.text-main.mar-no {{'CUSTOM_DASHBOARD.PREDICTIONS' | translate }}
                                                        small.prediction 
                          
                div.row 
                    div.col-lg-9
                        div.panel 
                            div.panel-heading 
                                h3.panel-title {{'CUSTOM_DASHBOARD.VELOCITY' | translate }} 
                            div.panel-body 
                                div(tg-custom-velocity-highchart-graph id="high3" style="min-width:310px; height:350px;margin:0 auto;")
                    
                    div.col-lg-3
                        div.row 
                            div.col-sm-6.col-lg-12 
                                div.panel.panel-info.panel-colorful(style="height: 210px;") 
                                    div.pad-all.text-center(style="padding-bottom:0px") 
                                        p.text-lg.text-semibold {{'CUSTOM_DASHBOARD.PLANNED_VELOCITY' | translate }}
                                    div.pad-all.text-center(style="padding-top: 20px;") 
                                        span.text-3x.text-thin {{ plannedSpeed }}
                                        p {{'CUSTOM_DASHBOARD.POINTS_BY_SPRINT' | translate }}
                                            
                            div.col-sm-6.col-lg-12 
                                div.panel.panel-colorful.panel-success
                                    div.pad-all.text-center(style="padding-bottom:0px") 
                                        p.text-lg.text-semibold(style="margin-bottom:0px") {{ 'CUSTOM_DASHBOARD.ACTUAL_VELOCITY' | translate }}
                                    div.pad-all.text-center 
                                        canvas.canvas-responsive(tg-project-is-velocity-gauge id="avg-velocity-gauge" height="100")
                                        p
                                            span.text-lg.text-semibold {{ actualSpeed }} 
                                            small {{'CUSTOM_DASHBOARD.POINTS_BY_SPRINT' | translate }}          
                                
                                      
                div.row
                    div.col-lg-4 
                        div.panel 
                            div.panel-heading
                                h3.panel-title Sprints
                            div.panel-body 
                                perfect-scrollbar(class="scroller" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="10")
                                    div.list-group.bord-no
                                        a.list-group-item.custom-item(ng-repeat="sprint in sprints", style="cursor:pointer" ng-click="vm.setSprint(sprint)") {{ sprint.name }}
                                            div.progress.custom-progress(style="margin-top: 5px")
                                                div.progress-bar.progress-bar-success(style="line-height: 1.05em; width: {{sprint.completedPercentagePoints}}%") 
                                                    span(style="padding-left: 5px; font-size: 12px; padding-top: 1px;") {{sprint.completedPercentagePoints}}%

                    div.col-lg-8 
                        div.row 
                            div.col-md-12.col-lg-6.eq-box-lg 
                                div.panel 
                                    div.panel-heading 
                                        h3.panel-title % {{'CUSTOM_DASHBOARD.COMPLETED_SPRINT' | translate }}
                                    div.panel-body.text-center 
                                        div.pie-title-center(tg-sprint-percent-directive)
                                            span.pie-value.text-thin 0%
                            
                            div.col-md-12.col-lg-6.eq-box-lg 
                                div.panel 
                                    div.panel-heading 
                                        h3.panel-title % {{'CUSTOM_DASHBOARD.COMPLETED_USERSTORIES' | translate }} 
                                    div.panel-body.text-center 
                                        div.pie-title-center(tg-sprint-percent-userstories-directive)
                                            span.pie-value.text-thin 0%                        
                            
                            div.col-lg-12 
                                  div.panel(style="display:inline-block;width:100%") 
                                      div.panel-heading 
                                          div.panel-title {{ 'CUSTOM_DASHBOARD.SPRINT_BURNDOWN' | translate }}
                                          
                                      div.panel-body
                                          div(ng-if="!sprintStats" style="height:280px; text-align:center")
                                              img(
                                                    style="max-width:700px; padding-top: 70px;"
                                                    src="/#{v}/images/empty/empty_mex.png"
                                                    alt="{{'BACKLOG.EMPTY' | translate}}"
                                              )
                                              p.title(style="font-size:1.2rem;font-family:'OpenSans-Light' Arial, Helvetica, sans-serif; margin:0") POR FAVOR SELECCIONA UN SPRINT!
                                              p(style="line-height:1.5;margin:0 0 20px;font-family: 'OpenSans-Light' Arial, Helvetica, sans-serif; color: #5b8200") Así puedes ver la evolución del proyecto 
                                          div(ng-if="sprintStats")
                                              div(tg-sprint-stats-graph id="velocity-sprint" style="min-width:310px;height:300px;margin:0 auto")
                          
                    div.col-lg-12 
                        div.panel
                            div.panel-heading 
                                h3.panel-title {{ 'CUSTOM_DASHBOARD.ESTIMATION_ACCURACY' | translate }} 
                            div.panel-body
                                div(ng-if="!actualSprint" style="height:280px; text-align:center")
                                    img(
                                          style="max-width:700px; padding-top: 70px;"
                                          src="/#{v}/images/empty/empty_tex.png"
                                          alt="{{'BACKLOG.EMPTY' | translate}}"
                                    )
                                    p.title(style="font-size:1.2rem;font-family:'OpenSans-Light' Arial, Helvetica, sans-serif; margin:0") POR FAVOR SELECCIONA UN SPRINT!
                                    p(style="line-height:1.5;margin:0 0 20px;font-family: 'OpenSans-Light' Arial, Helvetica, sans-serif; color: #5b8200") Así puedes ver la evolución del proyecto 
                                div(ng-if="actualSprint")
                                    div(tg-confidence-band-directive id="error-band-chart" style="min-width:310px;height:300px;margin:0 auto")
                                    rzslider(rz-slider-model="slider.value" rz-slider-options="slider.options")
                
                div.row
                    div.col-lg-4
                        div.panel
                            div.panel-heading 
                                h3.panel-title {{'CUSTOM_DASHBOARD.TEAM' | translate }} 
                            div.panel-body 
                                perfect-scrollbar(class="scroller" wheel-propagation="true" wheel.speed="10" min-scroll-length="10" style="height: 350px;")
                                    a.list-group-item(ng-repeat="user in members | membersFilter:filtersQ:filtersRole", style="cursor:pointer; display:inline-flex; width:100%; border-color: transparent", ng-click="vm.setMember(user)")
                                        div.media-left.pos-rel(style="width: 50px; padding-right: 20px; padding-left: 10px;")
                                            img.img-circle.img-xs(tg-avatar="user", tg-bo-alt="user.full_name_display", style="border-radius:8%; margin-top:25px; width: 50px; height: 50px")
                                            tg-svg(
                                                    ng-if="user.id == owner"
                                                    svg-icon="icon-badge"
                                                    svg-title-translate="COMMON.OWNER"
                                            )
                                        div.media-body(style="width: 100%; padding-right: 10px; padding-left: 30px;")
                                            p.mar-no {{::user.full_name}}
                                            small.text-muted {{::user.role_name}}
                                            div.progress.custom-progress(style="margin-top: 5px; width: 80%")
                                                div.progress-bar.progress-bar-success(style="line-height: 1.05em; width: {{::user.completedPercentageMember}}%") 
                                                    span(style="padding-left: 5px; font-size: 12px; padding-top: 1px;") {{::user.completedPercentageMember}}%
                    div.col-md-8
                        div.panel
                            div.panel-heading 
                                h3.panel-title {{'CUSTOM_DASHBOARD.TEAM_VELOCITY' | translate }}   {{ member.full_name }}
                            div.panel-body
                                div(ng-if="!member" style="height:280px; text-align:center")
                                    img(
                                          style="max-width:100px; padding-top: 70px; padding-bottom: 20px"
                                          src="/#{v}/images/empty/empty_contact.png"
                                          alt="{{'BACKLOG.EMPTY' | translate}}"
                                    )
                                    p.title(style="font-size:1.2rem;font-family:'OpenSans-Light' Arial, Helvetica, sans-serif; margin:0") POR FAVOR SELECCIONA UN NOMBRE!
                                    p(style="line-height:1.5;margin:0 0 20px;font-family: 'OpenSans-Light' Arial, Helvetica, sans-serif; color: #5b8200") Así puedes ver su velocidad en el proyecto
                                div(ng-if="member")
                                    div.burndown(tg-velocity-by-member-directive id="velocity-member" style="height:350px")
                                    
                    
                    div.row
                        div.col-lg-12
                            div.panel(style="display:inline-block; width:100%")
                                div.panel-heading 
                                    h3.panel-title {{ 'CUSTOM_DASHBOARD.ISSUE_SEVERITY' | translate }}
                                div.panel-body 
                                    div(tg-issues-severity-graph id="issues-chart" style="min-width: 310px; height: 300px; margin: 0 auto;")
                    
                    div.row
                        div.col-lg-12
                            div.panel(style="display:inline-block; width:100%")
                                div.panel-heading 
                                    h3.panel-title {{ 'CUSTOM_DASHBOARD.ISSUE_TYPE' | translate }}
                                div.panel-body 
                                    div(tg-issues-type-graph id="issues-type-chart" style="min-width: 310px; height: 300px; margin: 0 auto;")    

                    div.row
                        div.col-lg-12
                            div.panel(style="display:inline-block; width:100%")
                                div.panel-heading 
                                    h3.panel-title {{ 'CUSTOM_DASHBOARD.ISSUE_STATUS' | translate }} 
                                div.panel-body 
                                    div(tg-issues-status-graph id="issues-status-chart" style="min-width: 310px; height: 300px; margin: 0 auto;")
                                    
                    div.row 
                        div.col-lg-12
                            div.panel(style="display:inline-block; width:100%")
                                div.panel-heading 
                                    h3.panel-title {{ 'CUSTOM_DASHBOARD.ISSUE_PRIORITY' | translate }}
                                div.panel-body 
                                    div(tg-issues-priority-graph id="issues-priority-chart" style="min-width: 310px; height: 300px; margin: 0 auto;")                      
                                
                                
            section(ng-if="!project")
                .empty-small
                    img(
                          src="/#{v}/images/empty/empty_sprint.png"
                          alt="{{'BACKLOG.EMPTY' | translate}}"
                    )
                    p.title PLEASE SELECT A PROJECT!
                    p You can see the project evolution through different tiples of charts
                                
        //- //- section.vbox
        //-     section.hbox.stretch
        //-         section.w-f-md.scrollable
        //-             div.slim-scroll(data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="10px" data-railOpacity="0.2")
        //-                 section(ng-if="project")
        //-                     section.scrollable.padder
        //-                         section.panel.panel-default
        //-                             header.panel-heading.font-bold Burndown Chart 
        //-                             div.panel-body(style="height:378px")
        //-                                 div.burndown(tg-custom-burndown-graph)
        //-                                         
        //-                             footer.panel-footer.bg-white 
        //-                                 div.row.text-center.no-gutter 
        //-                                     div.col-xs-3.b-r.b-light 
        //-                                         p.h3.font-bold.m-t 5,860
        //-                                         p.text-muted Orders
        //-                                     div.col-xs-3.b-r.b-light
        //-                                         p.h3.font-bold.m-t 10,450
        //-                                         p.text-muted Sellings
        //-                                     div.col-xs-3.b-r.b-light
        //-                                         p.h3.font-bold.m-t 21,230
        //-                                         p.text-muted Items
        //-                                     div.col-xs-3
        //-                                         p.h3.font-bold.m-t 7,230
        //-                                         p.text-muted Customers
        //-                         
        //-                         div.row
        //-                             div.col-md-4 
        //-                                 section.panel.panel-default
        //-                                     header.panel-heading Project Completed 
        //-                                     div.panel-body.text-center
        //-                                         div.inline(style="margin-top: 10px")
        //-                                             div.easypiechart(tg-project-percent-directive data-bar-color="#fcc633" data-line-width="16" data-loop="false" data-size="170" style="width: 170px; height: 170px")
        //-                                                 span.h2.m-l-sm.step(style="line-height: 170px;") 75      
        //-                                     div.panel-footer 
        //-                                         small % of average rate of the Conversion
        //-                                         
        //-                             div.col-md-4 
        //-                                 section.panel.panel-default
        //-                                     header.panel-heading Deviation from Plan 
        //-                                     div.panel-body.text-center 
        //-                                         div.inline(style="margin-top: 10px")
        //-                                             div.easypiechart(tg-project-deviation-directive data-bar-color="#fcc633" data-line-width="16" data-loop="false" data-size="170" style="width: 170px; height: 170px")
        //-                                                 span.h2.m-l-sm.step(style="line-height: 170px") 75
        //-                                     div.panel-footer 
        //-                                         small % of average rate of the Conversion
        //-                                         
        //-                             div.col-md-4 
        //-                                 section.panel.panel-default 
        //-                                     header.panel-heading Completed Issues 
        //-                                     div.panel-body.text-center 
        //-                                         div.inline(style="margin-top: 10px")
        //-                                             div.easypiechart(tg-project-completed-issues-directive data-bar-color="#fcc633" data-line-width="16" data-loop="false" data-size="170" style="width: 170px; height: 170px")
        //-                                                 span.h2.m-l-sm.step(style="line-height: 170px") 67
        //-                                     div.panel-footer 
        //-                                         small % of average rate of the Conversion
        //-                                         
        //-                         section.panel.panel-default 
        //-                             header.panel-heading.font-bold Velocity 
        //-                             div.panel-body
        //-                                 div.burndown(tg-custom-velocity-graph, style="height:300px")
        //-                                 
        //-                                       
        //-                         div.row
        //-                             div.col-md-12
        //-                                 section.panel.panel-default 
        //-                                     header.panel-heading.font-bold Cumulative Flow Diagram 
        //-                                     div.panel-body 
        //-                                         div.burndown(tg-custom-comulative-workflow-graph style="height:300px")
        //-                           
        //-                         div.row 
        //-                             div.col-md-12 
        //-                                 section.panel.panel-default
        //-                                     header.panel-heading.font-bold Issues by severity
        //-                                     div.panel-body 
        //-                                         div.burndown(tg-issues-severity-graph style="height: 320px;")
        //-                                         
        //-                         div.row
        //-                             div.col-md-12
        //-                                 section.panel.panel-default 
        //-                                     header.panel-heading.font-bold Confidence Band 
        //-                                     div.panel-body 
        //-                                         div.burndown(tg-confidence-points-graph style="height: 300px")
        //-                                         
        //-                         
        //- 
        //-                           
        //-                         div.row 
        //-                             div.col-md-4 
        //-                                 section.panel.panel-default 
        //-                                     header.panel-heading Sprints 
        //-                                     ul.list-group.alt(ng-repeat="sprint in sprints", style="cursor:pointer")
        //-                                         a.list-group-item(ng-click="vm.setSprint(sprint)") {{ sprint.name }} -> {{ sprint.completedPercentagePoints }}
        //-                                             
        //-                             div.col-md-8
        //-                                 section.panel.panel-default 
        //-                                     header.panel-heading Chart 
        //-                                     div.panel-body
        //-                                         div.burndown(tg-sprint-stats-graph, style="height:240px")
        //-                                 
        //-                         div.row             
        //-                             div.col-lg-4
        //-                                 section.panel.panel-default 
        //-                                     header.panel-heading Sprint Percentage
        //-                                     div.panel-body.text-center
        //-                                         small.text-muted.block Completed
        //-                                         div.inline(style="margin-top: 10px")
        //-                                             div.easypiechart(tg-sprint-percent-directive data-bar-color="#fcc633" data-line-width="16" data-loop="false" data-size="170" style="width: 170px; height: 170px")
        //-                                                 span.h2.m-l-sm.step(style="line-height: 170px;") 75      
        //-                                     div.panel-footer 
        //-                                         small % of average rate of the Conversion
        //-                                     
        //-                             div.col-lg-4
        //-                                 section.panel.panel-default 
        //-                                     header.panel-heading Userstories 
        //-                                     div.panel-body.text-center 
        //-                                         small.text-muted.block Completed userstories 
        //-                                         div.inline(style="margin-top: 10px")
        //-                                             div.easypiechart(tg-sprint-percent-userstories-directive data-bar-color="#fcc633" data-line-width="16" data-loop="false" data-size="170" style="width: 170px; height: 170px")
        //-                                                 span.h2.m-l-sm.step(style="line-height: 170px;") 67
        //-                                     div.panel-footer 
        //-                                         small % of userstories completed
        //-                                             
        //-                         div.row 
        //-                             div.col-md-4 
        //-                                 section.panel.panel-default 
        //-                                     header.panel-heading Members 
        //-                                     ul.list-group.alt(ng-repeat="user in members | membersFilter:filtersQ:filtersRole", style="cursor:pointer")
        //-                                        .username(style="flex-basis: 220px; min-width: 25%;") 
        //-                                           .avatar(style="align-items:center;display:flex;-webkit-box-align:center;")
        //-                                               img(tg-avatar="user", tg-bo-alt="user.full_name_display" style="flex-basis: 66px; width:66px; border:2px solid #fff;border-radius:8%;")
        //-                                           
        //-                                               .avatar-data 
        //-                                                   a.name(
        //-                                                     title="{{::user.full_name}}",
        //-                                                     style="display:block;width:100%",
        //-                                                     ng-click="vm.setMember(user)"
        //-                                                   ) {{::user.full_name}}
        //-                                                       tg-svg(
        //-                                                           ng-if="user.id == owner"
        //-                                                           svg-icon="icon-badge"
        //-                                                           svg-title-translate="COMMON.OWNER"
        //-                                                       )
        //-                                                   span.position {{::user.role_name}}
        //-                                                   span.position {{::user.id}}
        //-                                                   span.position ->
        //-                                                   span.position {{::user.completedPercentageMember}}
        //-                             div.col-md-8 
        //-                                 section.panel.panel-default 
        //-                                     header.panel-heading Member Velocity
        //-                                     div.panel-body
        //-                                         div.burndown(tg-velocity-members-graph, style="height:240px")
        //-                                             
        //-                                         
        //-                 
        //-                 section(ng-if="!project")
        //-                     .empty-large.js-empty-backlog
        //-                         img(
        //-                             src="/#{v}/images/empty/empty_mex.png"
        //-                             alt="{{'BACKLOG.EMPTY' | translate}}"
        //-                         )
        //-                         p.title PLEASE SELECT A PROJECT!
                            
                  
                
                    
                    
