section.team-filters
    div.team-filters-inner

        ul(tg-sort-projects="vm.allprojects")
            li.list-itemtype-project.custom-dash(
                tg-bind-scope
                tg-repeat="project in vm.allprojects track by project.get('id')"
                ng-class="{'blocked-project': project.get('blocked_code')}"
            )
                a(
                    href="#"
                    tg-nav="custom-dashboard"
                    ng-class="{active: vm.active == 'dashboard'}"
                    tabindex="9"
                )
                {{ project.get('name') }}
                tg-svg(svg-icon="icon-arrow-right")
